menu "Device and Filter Configuration"

choice DEVICE_SELECTION
    prompt "Select ESP32S3 Device"
    default DEVICE_1

config DEVICE_1
    bool "ESP32S3 Device U1"

config DEVICE_2
    bool "ESP32S3 Device U2"

config DEVICE_3
    bool "ESP32S3 Device U3"

config DEVICE_4
    bool "ESP32S3 Device U4"

endchoice

menu "Filter Configuration"

choice FILTER_TYPE
    prompt "Select Filter Type"
    default FILTER_NONE

config FILTER_NONE
    bool "No Filter"

config FILTER_FIR
    bool "FIR Filter"

config FILTER_IIR
    bool "IIR Filter"

config FILTER_FIR_IIR
    bool "FIR + IIR Filters"

endchoice

endmenu

config PHASE_INVERT
    bool "Invert Phase"
    default n
    help
      Enable this option to invert the phase (multiply the value by -1).
      
config ENABLE_ENCODER
    bool "Enable Encoder"
    default n
    help
      Enable this option to invert the phase (multiply the value by -1).      
      
endmenu